* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  font-style: "Lato", "Arial";
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.wrapper {
  margin-left: 40px;
}

h1 {
  font-size: 180%;
  text-transform: uppercase;
}

.heading {
  width: 1000px;
  margin: 30px auto;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 100%;
  color: #3b7c2fe3;
}

section {
  margin-bottom: 20px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #000;
  content: " ";
  width: 1500px;
  margin: 5px 20px 0 0; 
}

.work-experience ul {
  margin-bottom: 15px;
}

.long-copy {
  width: 1500px;
}

.skillss {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.move {
  margin-left: 30px;
}

.date {
  float: right;
  margin-right: 45px;
}
.line:after {
  display: block;
  height: 2px;
  background-color: #000;
  content: " ";
  width: 1450px;
  margin: 5px 20px 0 0; 
}